body{
    font-family: Arial, sans-serif;
    background-color: #454545;
    color: white;
    text-align: center;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

hr{
    width: 600px;
    height: 3px;
    background-color: white;
    border-radius: 100px;
}

/*  NAV  */

nav{
    width: fit-content;
    height: fit-content;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    margin: auto;
}

nav div{
    padding: 8px;
    font-size: 20px;
}

.navLeft{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: 3px solid white;
}

.navRight{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

nav a{
    color: white;
}

nav a:link{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

nav div:hover{
    background-color: rgb(170, 170, 170);
    color: #000000;
    cursor: pointer;
}

#navActive{
    background-color: white;
    color: #454545;
    cursor: default;
}

/*  SOCIAL MEDIA  */

#socialMediaSection{
    margin-top: 50px;
}

#socialMediaSection div{
    width: 300px;
    height: 100px;
    margin: auto;
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

#socialMediaSection div:hover{
    background-color: rgb(170, 170, 170);
}

#socialMediaSection div img{
    width: 75px;
    height: 75px;
    margin-left: 15px;
}

#socialMediaSection div div{
    display: inline;
    border: none;
}

/*  PROJECTS  */

#projectsSection div{
    width: 500px;
    height: 150px;
    margin: auto;
    border: 3px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
}

#projectsSection div:hover{
    background-color: rgb(170, 170, 170);
}

#projectsSection div img{
    width: 125px;
    height: 125px;
    margin-left: 15px;
}

#projectsSection div div{
    display: inline;
    border: none;
}

.year{
    text-decoration: underline;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    /*hr{
        width: 100%;
    }

    #projectsSection div{
        width: 300px;
        height: 200px;
    }

    #projectsSection div img{
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }*/

    nav, #projects, #projectsSection, #socialMedia{
        display: none;
    }
}